
body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
}

.refreshLogo {
    width: 100px;
    margin-left: 2rem;
    
}

.title {
    width:300px;
    margin-bottom: 0px;
}
h1 {
    position:absolute;
    font-size: 22px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    top: 22%;
}

#searchBar, #search {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#search, #addToCartButton {
    background-color: black;
    color: white;
    border-radius: 8px;
    text-transform: lowercase;
}

#search {
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#search:hover {
    background-color: rgba(0, 0, 0, 0.793);
}

#search:active {
    background-color: black;
}
#searchBar {
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: thin;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    outline: none;
    border-radius: 8px;
}
.buttons {
    margin-top: 2rem;
    margin-right: 2rem;
}


.product {
    max-width: 1200px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row; 
    word-wrap: normal;
}

.productImage {
    object-fit: cover;
    width: 320px;
    height: 625px;
    margin-right: 10rem; 
}

.productText {
    max-width: 450px; 
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}


#addToCartButton {
    max-width: 200px;
    margin-top: 2rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    background-color: #6d5f43;
    border-style: none;
    font-size: 14px;
}


.product-details {
    margin: 0 20% auto;

}

.shortDesc {
    font-size: 15px;
    text-transform:uppercase;
    color: #7d6d4a;
    margin-top: 10px;
}

p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #7d6d4a;

}

h2 {
    font-size: 22px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    top: 22%;
    margin-bottom: 10px;
}

.desc {
    max-width: 350px;
}

